<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>
    <a href="/HOME">HOME</a>
    <a href="/CONTACT">ABOUT</a>
    <a href="/ABOUT">CONTACT</a>
    <a href="/register">REGISTER</a>
    <a href="/updates">UPDATE</a>
    <a href="/deleting">DELETE</a>

    <body style="background-color: rgb(51, 199, 248);"></body>
    <h1 style="text-align:center;">HELLO THERE!</h1>
    <h4>wazzup</h4>
</body>
</html>