<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/HOME">HOME</a>
    <a href="/CONTACT">ABOUT</a>
    <a href="/ABOUT">CONTACT</a>
    <a href="/register">REGISTER</a>
    <a href="/updates">UPDATE</a>
    <a href="/deleting">DELETE</a>

    <body style="background-color: rgb(102, 69, 247);"></body>

    <form action="/add" method="post">
  <label for="fname">Enter id:</label>
  <input type="text" id="id" name="id"><br><br>

  <label for="nname">Enter name:</label>
  <input type="text" id="name" name="name"><br><br>
  
  <label for="ename">Enter Email:</label>
  <input type="text" id="email" name="email"><br><br>

  <label for="pname">Enter password:</label>
  <input type="text" id="password" name="password"><br><br>

  <input type="submit" value="Submit">
    </form>
</body>
</html>